<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.swayam.imagepicker">

    <application>
        <activity android:name=".ImagePicker"
            android:theme="@style/Theme.ImagePicker"></activity>
    </application>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

</manifest>